/* Stile globale */
body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(112.00599690501281deg, rgba(255, 236, 210, 1) 4.927083333333334%, rgba(252, 184, 162, 1) 97.84374999999999%);
    display: flex;
    flex-direction: column; /* Allinea gli elementi verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Roboto', sans-serif; /* Font di base */
}

.container {
    position: relative;
    background: white; /* Colore di sfondo non trasparente */
    padding: 30px; /* Aumentato il padding */
    border-radius: 20px; /* Maggiore rotondità */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Ombra leggera per il contenitore */
    width: 90%; /* Larghezza percentuale per la responsività */
    max-width: 400px; /* Massima larghezza per desktop */
    text-align: center; /* Centro il testo nella container */
    display: flex; /* Usa flexbox per il layout */
    flex-direction: column; /* Allinea gli elementi verticalmente */
    align-items: center; /* Centro gli elementi orizzontalmente */
    z-index: 1;
}

.color-picker {
    /* Rimuovere la posizione assoluta */
    appearance: none; /* Rimuove lo stile predefinito del browser */
    margin-left: 10px;
    width: 50px; /* Larghezza del selettore */
    height: 50px; /* Altezza del selettore */
    border: none; /* Nessun bordo */
    border-radius: 50%; /* Rende il selettore rotondo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    background: linear-gradient(135deg, #ffffff, #dcdcdc); /* Sfondo elegante */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.05); /* Ombra esterna */
    transition: all 0.3s ease; /* Transizione per hover */
}
.color-picker:hover {
    transform: scale(1.1); /* Leggero ingrandimento al passaggio del mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra più accentuata */
}

.color-picker:active {
    transform: scale(1.2); /* Leggero ingrandimento quando si clicca */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Ombra più profonda durante il click */
}

.color-picker::-webkit-color-swatch {
    border-radius: 50%; /* Mantiene la rotondità */
    padding: 0;
    border: none; /* Rimuove il bordo standard */
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%; /* Mantiene la rotondità */
}

.qr-code-container {
    margin-top: 20px;
    width: 256px;
    height: 256px;
    background-color: lightgrey; /* Sfondo del contenitore QR code */
}

input[type="text"] {
    width: 90%; /* Larghezza del campo di input */
    padding: 12px; /* Maggiore padding per il campo */
    margin: 15px 0; /* Margine verticale */
    border: 1px solid #ccc; /* Colore del bordo */
    border-radius: 10px; /* Bordo arrotondato */
    text-align: center; /* Centro il testo nell'input */
    transition: border-color 0.2s ease, box-shadow 0.2s ease; /* Transizione fluida per il bordo */
}

input[type="text"]:focus {
    border-color: #30B64A; /* Verde scuro al focus */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8); /* Ombra al focus */
}

button {
    padding: 12px; /* Maggiore padding per il pulsante */
    border: none; /* Nessun bordo */
    border-radius: 10px; /* Bordo arrotondato */
    background-color: #30B64A; /* Verde scuro */
    color: white; /* Colore del testo */
    cursor: pointer; /* Indica che è cliccabile */
    transition: background-color 0.2s ease, transform 0.2s ease; /* Transizione fluida */
}

button:hover {
    background-color: #228B22; /* Verde più scuro al passaggio del mouse */
    transform: scale(1.05); /* Leggero ingrandimento al passaggio del mouse */
}

/* Stile per le bolle */
.bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5); /* Colore bianco trasparente */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    pointer-events: auto; /* Permette l'interazione con le bolle */
    z-index: 0; /* Assicurati che le bolle siano dietro al contenitore, ma sopra il body */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transizione per esplosione */
}

/* Animazione delle bolle */
@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-2px, 0); }
    50% { transform: translate(2px, 0); }
    75% { transform: translate(-2px, 0); }
    100% { transform: translate(0); }
}

/* Stile per la bolla di upload */
.upload-bubble {
    position: relative; /* Cambiato in relative per posizionamento accanto */
    margin-right: 10px; /* Spazio a destra per distanziare dal color picker */
    width: 50px; /* Dimensione della bolla */
    height: 50px; /* Dimensione della bolla */
    background-color: rgba(204, 204, 204, 0.8); /* Colore grigio trasparente per la bolla di upload */
    border-radius: 50%; /* Forma circolare */
    display: flex; /* Flex per centrare l'icona */
    justify-content: center; /* Centro orizzontale */
    align-items: center; /* Centro verticale */
    cursor: pointer; /* Indica che è cliccabile */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombra */
    transition: transform 0.2s; /* Transizione per effetto hover */
}

.upload-bubble:hover {
    transform: scale(1.1); /* Ingrandimento al passaggio del mouse */
}

/* Stile per l'icona di upload */
.upload-logo-icon {
    width: 25px; /* Dimensione dell'icona di upload */
    height: 25px; /* Dimensione dell'icona di upload */
}

/* Stile per l'icona di cambio stile dots */
.change-style-bubble {
    position: relative; /* Posizionamento relativo per allineamento */
    width: 50px; /* Dimensione della bolla */
    height: 50px; /* Dimensione della bolla */
    background-color: rgba(204, 204, 204, 0.8); /* Colore grigio trasparente per la bolla di cambio stile */
    border-radius: 50%; /* Forma circolare */
    display: flex; /* Flex per centrare l'icona */
    justify-content: center; /* Centro orizzontale */
    align-items: center; /* Centro verticale */
    cursor: pointer; /* Indica che è cliccabile */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombra */
    transition: transform 0.2s; /* Transizione per effetto hover */
}

.change-style-bubble:hover {
    transform: scale(1.1); /* Ingrandimento al passaggio del mouse */
}

/* Stile per l'icona di cambio stile */
#dots-style-icon {
    width: 25px; /* Imposta la larghezza dell'icona */
    height: 25px; /* Imposta l'altezza dell'icona */
}
.header-controls {
    display: flex; /* Utilizza flexbox per allineare gli elementi orizzontalmente */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    gap: 20px; /* Spazio tra gli elementi (puoi regolare questo valore) */
}
