* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #FF6B6B, #FFB6B9, #A2D5F2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FF6B6B;
    border-radius: 10px;
    outline: none;
}

button {
    background-color: #FF6B6B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
}

button:hover {
    background-color: #FFB6B9;
}

#qr-code-container {
    margin: 20px 0;
}

canvas {
    border: 2px solid #FF6B6B;
    padding: 10px;
    border-radius: 10px;
}

#reset-btn {
    background-color: #A2D5F2;
}

#reset-btn:hover {
    background-color: #BEE3F8;
}

/* Stile per il color picker */
.color-picker-box {
    margin-top: 20px;
    text-align: center;
}

.color-picker-box label {
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="color"] {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    outline: none;
}
